<% sorter = req.GET["sorter"] %>

<!-- Set up database connection -->

<% db = SQLite3::Database.new( "books.sqlite3.db") %>

<% if sorter == "author" %>
	<% books = db.execute("select * from books ORDER BY author COLLATE NOCASE") %>
<% elsif sorter == "rank" %>
	<% books = db.execute("select * from books ORDER BY id COLLATE NOCASE") %>
	<% elsif sorter == "language" %>
	<% books = db.execute("select * from books ORDER BY language COLLATE NOCASE") %>
	<% elsif sorter == "title" %>
	<% books = db.execute("select * from books ORDER BY title COLLATE NOCASE") %>
	<% elsif sorter == "year" %>
	<% books = db.execute("select * from books ORDER BY published COLLATE NOCASE") %>
	<% elsif sorter == "copies" %>
	<% books = db.execute("select * from books ORDER BY sold COLLATE NOCASE") %>
<% end %>
	
<table>
	<tr>
		<th>Rank</th>
		<th>Title</th>
		<th>Author</th>
		<th>Language</th>
		<th>Year</th>
		<th>Copies</th></tr>
<% books.each do |book| %>
	<tr>
		<td><%=book[0]%></td>
		<td><%=book[1]%></td>
		<td><%=book[2]%></td>
		<td><%=book[3]%></td>
		<td><%=book[4]%></td>
		<td><%=book[5]%></td>
	</tr>
<% end %>
</table>