<!DOCTYPE html>
<html>
<head>
  <title>Adoptapet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Adopt-A-Pet" %>
  </div>
  <div id="columns">
    <div id="side">
		Considered Pet
		<div id="cart">
			<ul class="list" id="list">
				<%= render(@cart.line_items) %>
			</ul>
		</div>

		<%= button_to 'Remove Considered Pet', @cart, method: :delete,
    data: { confirm: 'Are you sure?' } %>
		
      <ul>
        <li><%= link_to 'Home', shelter_index_path %></li>
        <li><%= link_to 'Pet List', pets_path %></li>
      </ul>
    </div>
    <div id="main">

<%= yield %>
    </div>
  </div>
</body>
</html>
